{% extends 'base.html' %}
{% block title %}Reset de Senha Completo{% endblock %}
{% block conteudo %}
<header class="header">
    <h1>Sistema de Chaveamento Marcial</h1>
    {% if user.is_authenticated %}
        <div class="user-info">
            <span>{{ user.username }}</span>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Sair</button>
            </form>
        </div>
    {% else %}
        <div class="auth-buttons">
            <a href="{% url 'login' %}" style="color: #007bff;">Login</a>
            <a href="{% url 'register' %}" style="color: #007bff;">Cadastro</a>
        </div>
    {% endif %}
</header>

<div class="col-md-4" style="margin: 40px auto; text-align: center;">

    <h3 style="color: #3498db;">Sua senha foi alterada com sucesso!</h3>
    <p><a href="{% url 'login' %}" style="color: #3498db;">Fazer Login</a></p>

</div>
{% endblock %}
