{% extends 'base.html' %}

{% block title %}Formulário Reset Senha{% endblock %}

{% block conteudo %}
<header class="header">
    <h1>Sistema de Chaveamento Marcial</h1>
    {% if user.is_authenticated %}
        <div class="user-info">
            <span>{{ user.username }}</span>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Sair</button>
            </form>
        </div>
    {% else %}
        <div class="auth-buttons">
            <a href="{% url 'login' %}" style="color: #007bff;">Login</a>
            <a href="{% url 'register' %}" style="color: #007bff;">Cadastro</a>
        </div>
    {% endif %}
</header>

<div class="col-md-4" style="margin: 40px auto; text-align: center;">

    {% if validlink %}
    <h2 style="color: #3498db;">Entre com sua nova senha para resetar</h2>
    <form action="" method="post" style="max-width: 400px; width: 100%; background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 0 auto; border: 2px solid #3498db;">

        {% csrf_token %}
        <div class="mb-3">
            {{ form.new_password1.errors }}
            <label class="form-label" for="id_new_password1">Nova Senha:</label>
            <input type="password" name="new_password1" class="form-control" id="id_new_password1" style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 4px;"> 
        </div>
        <div class="mb-3">
            {{ form.new_password2.errors }}
            <label class="form-label" for="id_new_password2">Confirmação de senha:</label>
            <input type="password" name="new_password2" class="form-control" id="id_new_password2" style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 4px;"> 
        </div>
        <button type="submit" class="btn btn-warning" style="width: 100%; padding: 10px; border: none; border-radius: 5px; background-color: #3498db; color: #fff; cursor: pointer; transition: background-color 0.3s, color 0.3s; font-size: 16px;">Alterar Senha</button>

    </form>
    {% else %}
    <h1>Falha na redefinição de senha</h1>
    <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
    {% endif %}
</div>

{% endblock %}
