{% extends 'base.html' %}

{% block title %}Registrar{% endblock %}

{% block conteudo %}
<header class="header">
    <h1>Sistema de Chaveamento Marcial</h1>
    <div class="auth-buttons">
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'register' %}" class="btn btn-primary">Cadastro</a>
    </div>
</header>

<div class="col-md-4" style="margin-top: 50px;">
    <form method="post" style="max-width: 400px; width: 100%; background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 0 auto; border: 2px solid #3498db;">

        {% csrf_token %}

        <h2 style="text-align: center; color: #3498db;">Criar uma conta</h2>

        {{ form.as_p }}

        <button class="btn btn-warning" type="submit" style="width: 100%; padding: 10px; border: none; border-radius: 5px; background-color: #3498db; color: #fff; cursor: pointer; transition: background-color 0.3s, color 0.3s; font-size: 16px;">Registrar</button>
    </form>
</div>
{% endblock %}
